@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster&family=Poppins:wght@500;600&family=Roboto+Mono&family=Rubik:wght@300&family=Source+Sans+Pro&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
  /****************** heading and banner part **************/
  .headings-and-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161616;
    position: relative;
    color: white;
    padding: 40px;
    border: 2px solid;
    border-radius: 20px;
    width: 800px;
    height: 290px;
    margin-left: 160px;
    margin-top: 15px;
    
  }
.heading-and-link a {
     text-decoration: none;
     color: aliceblue;
     background-color:  #DD0000;
     padding: 10px;
     border: 0px solid ;
     border-radius: 5px;
     margin-bottom: 20px;
     
}
.heading-description {
    margin-bottom: 30px;
}
.heading-description h1{
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}
.heading-description h5{
   margin-top: -30px;
   font-size: 10px;
   
}
/****************************                heading and banner part Done   **************/

.item{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-left: 160px;
  margin-right: 20px;
  margin-top: 40px;
  background-color: black;
  width: 220px;
  height: 250px;
  border: 0px solid ;
  border-radius: 10px;

}
.item a{
  text-decoration: none;
  border: 1px solid ;
  border-radius: 10px;
 
  padding: 10px;
  width: 150px;
  height: 20px;
  text-align: center;
  color: black;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: white;


}
#blog {
  background-color:#DD0000;
  color: aliceblue;
  
}
/* ******************************************************menu item done******************** */
 

  .icons-and-comment{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    display: flex;
    

   
 

  }
  .icons-and-comment p {
    
    margin-right: 40px;
} 

.picture-and-heading{
  display: grid;
  grid-template-rows: repeat(3,1fr);
}
.articles{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  row-gap: 20px;
 
  height: 500px;
  width: 500px;
 margin-top: 40px;

  
}
#blog-image{
  height: 175px;
width: 312px;


}
 .article{
   height: 350px;
  width: 200px; 
  margin-right: 50px;
  border: 2px solid rgb(223, 220, 220);
  border-radius: 10px;
  padding: 10px;
  
  
 }
 #btn a{
  text-decoration: none;
  background-color: aliceblue;
  font-size:medium;
 }
 .container{
  display: flex;
 }
 
.picture-of-blog{
  height: 150px;
 width: 200px; 

}
/* <!--**** articles and img done********************* --> */

.footer{
  margin-top: 700px;

}
.footer{
  background-color: #161616;
  width: 1300px;
  height: 150px;
  
  
    margin-bottom: 15px;
}
#goal{
  text-align: center;
  color: aliceblue;

}
.social-links a{
  color: aliceblue;
  margin-right: 40px;
  
}
.social-links{
  text-align: center;
}
#follow-me{
  color: white;
}
.social-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  margin-left: 40px;
  margin-bottom: 20px;
 
}

#fb-id{
  margin-left: 500px;
}
#my-site{
  margin-right: 400px;
}
.contact-policy a{
  text-decoration: none;
  color: aliceblue;
  margin-right: 40px;
 
  
}
.contact-policy{
  text-align: center;
 
  
}
/************************ footer end ******************** */